* {
  box-sizing: border-box;
}
body {
  font-family: "Noto Sans TC";
  margin: 0px;
  justify-self: center;
  display: grid;
  grid-template-rows: 180px 2fr;
  letter-spacing: 2px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.background_cover {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
}
.background_cover > img {
  width: 100%;
  height: 100%;
  object-fit: cover
}
header {
  grid-row: 1/2;
  align-self: end;
  justify-self: center;
  margin-bottom: 30px;
}
.search_bar {
  display: grid;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  background-color: #e6ba95;
  padding: 0px 15px;
}
.search_list {
  border: 5px dashed #f7e9d7;
  font-size: 25px;
  color: #e6ba95;
  padding-left: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}
.search_list:hover {
  color: #8e3200;
}
main {
  display: grid;
  grid-row: 2/3;
  grid-template-columns: auto minmax(300px, 1000px) auto;
}
.day1 {
  grid-column: 2/3;
  width: 350px;
  display: grid;
  grid-auto-rows: 1fr 2.5fr 1fr 0.7fr 0.7fr 0.7fr;
  justify-self: center;
  justify-items: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(253, 246, 236, 0.8);
  border-radius: 8px;
}
.day1:hover {
  transform: translateY(3px);
  box-shadow: 2px 2px 6px 2px #f0fff0;
}
.date {
  font-size: 30px;
  font-weight: 700;
}
.weather_img {
  height: 155px;
  width: 150px;
}
.now_temp {
  font-size: 25px;
}
.error{
  grid-column: 2/3;
  font-size: 25px;
  justify-self: center;
}

/* common use */
.comfortIndex,
.humidity,
.chance_rain {
  font-size: 20px;
}
img {
  width: 100%;
}